ion-content {
  --background: transparent; /* Hacemos que el fondo del ion-content sea transparente */
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: background-color 0.5s ease-in-out; /* Transición suave para el cambio de fondo */
}

.day {
  background-color: #0a94ca; /* Azul claro */
}

.night {
  background-color: #011030; /* Negro */
}

.icon {
  font-size: 10rem;
  color: yellow; /* Color amarillo para el sol */
}

.day .icon {
  color: #ffd900; /* Color blanco para la luna durante el día */
}

.night .icon {
  color: #FFF; /* Color blanco para la luna durante la noche */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeInOut {
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out;
}
